:root {
  --locked-in-yellow: #e6ab17ff;
}

html {
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin:0;
}

#content {
  margin-left:5vw;
  margin-right:5vw;
}

header {
  display: flex;
  align-items: center;
  margin-right:8px;
  justify-content: center;
}

#splash {
  background-image: url("/images/placeholder.jpg");
  background-size:cover;
  background-position:center;
  background-attachment: local;
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#titleImage{
  height:9rem;
}

@media (max-width:700px) {
  #titleImage{
    width:85vw;
    height:initial;
  }
}

#splashContent{
  background-color:#000000ac;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

#splashContainer{
  height:100vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:2rem;
}

h2{
  font-size:3rem;
  color:var(--locked-in-yellow);
  margin-top:2rem;
  margin-bottom:2rem;
}

li{
  margin-top:.5rem;
}

#contactList{
  list-style: none;
}

a{
  color:var(--locked-in-yellow);
}

#contactList a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

#contactList a span{
  margin-left: 8px;
}

footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--locked-in-yellow);
  color:#000000;
  margin-top:2rem;
}
footer a{
  color:#000000;
}

.icon{
  height:2rem;
}